/*TodoList Styles*/
body {
    background: linear-gradient(to left bottom, #7a01cc 60%, #E83385 40%);;
    position: relative;
    color: #fff;
    font-family: "Roboto", serif;
    /*height: 100vh*/
}

.ancestor {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 28%
}

.btn-floating {
    position: fixed;
    top: 20%;
    left: 60%;
}

.main-card {
    border-radius: 10px;
    color: #4a4a4a;
    position: relative;
    margin-top: 10%;
}

.card-upper-body {
    margin-bottom: 0;
    margin-left: 2rem;
    padding-top: 20px;
}

.task-count {
    margin-left: 10rem;
    font-weight: 500;
    font-size: 20px;
    color: #567;
}

.month {
    margin-top: 0;
    font-size: 19px;
    font-weight: 400;
}

.modal-header {
    color: #4a4a4a;
}

.card-action {
    margin-top: -25px
}

.card-upper-title {
    color: #7a01cc;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.card-title + .month {
    font-size: 18px;
    text-align: left;
}

.task-row {
    border-bottom: 1px solid rgba(160,160,160,0.2);
    padding: 7px 30px;
    font-size: 18px;
    color: #777;
    font-weight: 400;
}

.datepicker-table td.is-selected {
    background-color: #E83385;
}

.datepicker-table td.is-today {
    background-color: #E83385;
 }


.datepicker-day-button {
    color: #444444;
}

/*Post.html styles*/
.parent-element {
    position: relative;
    top: 15rem;
    left: 42%;
    background-color: #000;
    width: 17%;
    color: #fff;
    height: 95px;
    text-align: center;
    border-radius: 2px;
}

.add-task {
    background-color: #E83385;
    color: #ffffff;
    padding: 10px 24px 40px 24px;
    border-radius: 4px;
}

.add-task:hover {
    background-color: #e84080;
    color: #ffffff;
    padding: 10px 24px 40px 24px;
    border-radius: 4px;
}

.datepicker-date-display {
    background-color: #E83385;
}

.datepicker-cancel, .datepicker-done{
   color: #7a01cc;
}

.month-next:hover, .month-prev:hover {
    background-color: #E83385;
}

.alert-btn {
    position: absolute;
    top: 35%;
    width: 40%;
    height: 50%;
    color: #000;
    border-radius: 5px;
    left: 30%;
    box-shadow: 0.5px 0.5px #eee;
}

.link {
    color: #ffffff;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    cursor: pointer;
    margin-top: 10rem;
    color: #121212;
    text-align: left;
}

ul li {
    margin-bottom: 5px;
    font-size: 20px;
    color: #121212;
}

.add-list {
    background-color: #eee;
    width: 9%;
    height: 51px;
    text-align: center;
    border-radius: 7px;
    margin-left: 36px;
    border: 1px solid #eee
}
.delete {
    margin-top: 15px
}

.clear-tasks {
   background-color: #7a01cc;
    color: #ffffff;
    padding: 10px 24px 40px 24px;
    border-radius: 4px;
}

.clear-tasks:hover {
    background-color: #8e1dcc;
    color: #ffffff;
}
.fa-trash {
    margin-right: 5px;
}

.completed-tasks {
    display: none;
}

.completed-task-row {
    padding: 5px 30px;
}

.completed-task-count {
    font-size: 18px;
}

/**/
